<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monitoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Monitoring.Properties.Settings>
            <setting name="HOST_NAME" serializeAs="String">
                <value>89.32.144.170</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>oki.delamol</value>
            </setting>
            <setting name="SSH_HOST_KEY_FINGERPRINT" serializeAs="String">
                <value>ssh-rsa 2048 90:fa:1e:e9:09:40:5e:67:fd:15:e8:63:95:d5:7a:37</value>
            </setting>
            <setting name="FILE_NAME_FORMAT" serializeAs="String">
                <value>yyyyMMdd</value>
            </setting>
            <setting name="FILE_PATH" serializeAs="String">
                <value>/home/MONITORING/blokade/output</value>
            </setting>
            <setting name="FILE_EXTENSION" serializeAs="String">
                <value>.csv</value>
            </setting>
            <setting name="DB_USERNAME" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DB_PASSWORD" serializeAs="String">
                <value>0S4m0S4m</value>
            </setting>
            <setting name="DB_CATALOG" serializeAs="String">
                <value>Monitoring</value>
            </setting>
            <setting name="DB_SERVER" serializeAs="String">
                <value>Lapitopi</value>
            </setting>
            <setting name="MAIL_ADDRESS" serializeAs="String">
                <value />
            </setting>
            <setting name="MAIL_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_TEMPLATE_PATH" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\template.xlsx</value>
            </setting>
            <setting name="LOCAL_RESULT_DIRECTORY" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\Result</value>
            </setting>
            <setting name="LOCAL_CSV_DIRECTORY" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\skinuto</value>
            </setting>
            <setting name="INTERVAL_INTERVAL" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="INTERVAL_DOWNLOAD_TIME" serializeAs="String">
                <value>06</value>
            </setting>
            <setting name="FILE_TEMPLATE2_PATH" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\template_aks.xlsx</value>
            </setting>
            <setting name="FILE_TEMPLATE3_PATH" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\template_sa_statusom.xlsx</value>
            </setting>
            <setting name="FILE_TEMPLATE4_PATH" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\template4.xlsm</value>
            </setting>
            <setting name="FILE_TEMPLATE5_PATH" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\template5.xlsm</value>
            </setting>
            <setting name="FILE_TEMPLATE6_PATH" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\template6.xlsm</value>
            </setting>
            <setting name="FILE_TEMPLATE7_PATH" serializeAs="String">
                <value>C:\Users\Ivan\Desktop\Monitoring\template7.xlsm</value>
            </setting>
        </Monitoring.Properties.Settings>
    </userSettings>
</configuration>